/*
*    DEVELOPER :-
*    © SAYANDEEP KARAK    © sayandeep18.webdev@gmail.com    https://github.com/fuchu2003
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #03e9f4;
    --color: #000;
    --text: #050801;
}

body {
    background-color: var(--color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: var(--color1);
    cursor: default;
    text-transform: uppercase;
}

#main {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#color {

    position: fixed;
    top: 30px;
    left: 3%;
    height: 34vh;
    width: 44%;
    padding: 0% 1%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: new;
    animation-duration: .8s;
    animation-iteration-count: 1;
    transition: all .8s linear;
}

table {
    height: auto;
    width: 100%;
}

@keyframes new {
    from {
        height: 15vh;
    }

    to {
        height: 34vh;
    }
}

#color label {
    font-weight: bold;
    color: var(--color1);
}

button {
    background: transparent;
    border: none;
    text-decoration: none;
    position: relative;
    padding: 3% 5%;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    width: auto;
    color: var(--color1);
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
    transition: all .5s linear;
    -webkit-box-reflect: below 2px linear-gradient(180deg, transparent, #0005);
}

#btn {
    width: 73%;
    height: auto;
    display: flex;
    justify-content: center;

}

button:hover {
    background-color: var(--color1);
    color: var(--text);
    box-shadow: 0 0 5px var(--color1),
        0 0 25px var(--color1),
        0 0 50px var(--color1),
        0 0 150px var(--color1)
}

button span {
    position: absolute;
    display: block;
}

button span:nth-child(1) {
    top: 0;
    left: 0%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--color1));
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

button span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--color1));
    animation: animate2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

button span:nth-child(3) {
    bottom: 0%;
    right: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(240deg, transparent, var(--color1));
    animation: animate3 1s linear infinite;
    animation-delay: .50s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

button span:nth-child(4) {
    top: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--color1));
    animation: animate4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes animate4 {
    0% {
        top: 100%;
    }

    50%,
    100% {
        top: -100%;
    }
}

.colors {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearence: none;
    border: 1px solid var(--color1);
    cursor: pointer;
    border-radius: 50%;
    appearance: none;
    height: 6vh;
    width: 3vw;
}

.colors::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

.colors::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}

footer audio {
    display: none;
}

footer {
    width: 100%;
    color: var(--color1);
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#runRgb {
    margin-top: 3%;
    width: 100%;
    outline: none;
    background: transparent;
    height: auto;
    padding: 1% 2%;
    border-radius: 14px;
    border: 2px solid var(--color1);
    cursor: pointer;
    font-weight: 600;
    color: var(--color1);
    position: relative;
    transition: all .3s linear;
}

#runRgb:hover {
    color: var(--text);
    background: var(--color1);
}

#clearStorage {
    margin-top: 3%;
    width: 100%;
    outline: none;
    background: transparent;
    height: auto;
    padding: 1% 2%;
    border-radius: 14px;
    border: 2px solid var(--color1);
    cursor: pointer;
    font-weight: 600;
    color: var(--color1);
    position: relative;
    transition: all .3s linear;
}

#clearStorage:hover {
    color: var(--text);
    background: var(--color1);
}

#close {
    margin-top: 3%;
    width: 100%;
    outline: none;
    background: var(--color1);
    height: auto;
    padding: 1% 2%;
    border: 2px solid var(--color1);
    cursor: pointer;
    font-weight: 600;
    color: var(--text);
    position: relative;
    transition: all .3s linear;
}



#close:hover {
    opacity: .9;
}

@media screen and (max-width: 768px) {

    #color {
        top: 60px;
    }

}

@media screen and (max-width: 566px) {
    footer div>span {
        display: none;
    }

    #colors {
        width: 44%;
    }

    .colors {
        width: 10vw;
    }

}

@media screen and (max-width: 425px) {

    #main {
        height: 70vh;
    }

    header h1 {
        font-size: 26px;
    }

    #color {
        border-radius: 0%;
        top: 60px;
    }
}

@media screen and (max-width: 375px) {

    #color {
        height: 28vh;
    }


    footer {
        font-size: 12px;
    }
}